@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

@media only screen and (max-width: 500px) {
    .room-selector > label {
        display: none;
    }
    nav > h1 {
        font-size: 2.5rem !important;
    }
    .room-selector > input {
        width: calc(90% - 55px) !important;
    }
}

html {
    font-family: "Inter", sans-serif;
    --accent-color: rgba(13, 79, 79, 1);
    --background-color: rgba(240, 245, 245, 1);
    --box-shadow: 0 8px 30px rgba(0, 0, 0, 0.05);
}
input {
    font-family: "Inter", sans-serif;
}
textarea {
    font-family: "Inter", sans-serif;
}
header {
    margin: 0;
    background-color: var(--background-color);
    display: flex;
    width: 100%;
    justify-content: center;
    position: fixed;
    top: 0;
    z-index: 5;
}
nav {
    padding: 1rem;
}

nav > h1 {
    margin: 0.5rem 0;
    font-size: 3rem;
}
.room-selector > * {
    font-size: 1.5rem;
}

.room-selector > button {
    margin-left: 0.25rem;
}
.basic-button {
    border: none;
    padding: 0.25rem 0.5rem;
    border-radius: 1rem;
    background-color: var(--accent-color);
    transition: background-color 0.3s;
    box-shadow: var(--box-shadow) inset;
}
.basic-input {
    border: none;
    border-radius: 1rem;
    width: fit-content;
    padding: 0.25rem 0.5rem;
}
.basic-button > a {
    text-decoration: none;
    color: white;
    transition: color 0.3s;
}
.basic-button:hover {
    background-color: var(--background-color);
}
.basic-button:hover > a {
    color: var(--accent-color);
}
footer {
    position: fixed;
    bottom: 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;

    width: 100%;
    background-color: var(--background-color);
}
footer > * {
    margin: 0.25rem 0.5rem;
}
footer > a {
    color: var(--accent-color);
}

body {
    margin: 0;
    margin-top: 10rem;
    margin-bottom: 5rem;
}
