@media only screen and (max-width: 700px) {
    .card-container {
        grid-template-columns: 1fr !important;
    }
    .title-section {
        margin-left: 0% !important;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .title-section > h1 {
        font-size: 3rem !important;
    }
    .title-section button > a {
        font-size: 1.5rem !important;
    }
}

.title-section {
    margin-left: 10%;
}
.title-section > h1 {
    margin: 0;
    font-size: 4rem;
}
.title-section button {
    margin: 0 0 1rem 0;
}
.title-section button > a {
    font-size: 2rem;
}
.card-container {
    display: grid;
    max-width: 1100px;
    width: 90%;
    margin-left: max(5%, calc(50% - 550px));
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
}
.card {
    /* padding: 1rem; */
    background-color: var(--background-color);
    max-width: 500px;
    width: 90%;
    justify-self: center;
}
.timestamp {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 0;
    font-style: italic;
    margin-bottom: 0.5rem;
    padding: 0.5rem 0.5rem 0 0.5rem;
}
.timestamp > button {
    transform: scale(3);
    border: 0;
    background-color: transparent;
}
.card > img {
    width: 100%;
    aspect-ratio: 1 / 1;
    object-fit: cover;
}
.description {
    margin: 0;
    padding: 0.5rem;
}
.description > p {
    margin: 0;
}
