.browse-content {
    width: 80%;
    margin: 10%;
}
.browse-content h1 {
    font-size: 3rem;
    margin-bottom: 0;
}
.browse-content div {
    margin: 20px;
    width: 100%;
    font-size: 1.5rem;
    border: 1px solid black;
    padding: 1rem;
    border-radius: 1rem;
    display: flex;
    justify-content: space-between;
}
.browse-content > button {
    font-size: 2rem;
    align-self: center;
}

.browse-content p {
    font-size: 2rem;
}
